#content.mw-body,
#content.mw-body h1,
#content.mw-body h2,
#content.mw-body h3,
#content.mw-body h4,
#content.mw-body td,
#content.mw-body span,
#content.mw-body a,
#content.mw-body p,
#content.mw-body div
{
    font-family: 'Malgun Gothic', serif;
}



#content.mw-body #bodyContent h1,
#content.mw-body #bodyContent h2,
#content.mw-body #bodyContent h3 {
    line-height: 160%;
    margin:1em 0;
    padding: 6px 0 6px;
}

#content.mw-body #firstHeading {
    margin:0;
    padding:0 0 8px;
    color:#000066;
}

/** Layout **/

#content.mw-body {
    margin-left:0;
}

/* head */

#mw-head #left-navigation {
    margin-left:0;
}


/** 로고 변경 **/
#p-logo {
    display:none;
}


#philgo-logo {
    position:absolute;
    z-index: 12345;
    width:16em;
    font-size:14pt;
    font-family: 'Malgun Gothic', serif;
}

#philgo-logo img {
    display:block;
    float:left;
    margin-right:0.8em;
    width:32px;
    height:auto;
}

#philgo-logo .philgo-title {
    padding-top:0.4em;
}


/** Bottom Navigator **/

/** -- Remove 'Tools' Text -- **/
div#mw-panel div.portal h3 {
    display:none;
}
#mw-navigation #mw-panel {
    position:relative;
    top:0;
    width:auto;
    font-size:1.2em;
}
#mw-panel #p-navigation {
    float:left;
    width:6.4em;
    height:150px;
}

div#mw-panel div.portal {
    float:left;
    width:12em;
    background-image:none;
    margin:0;
    padding:0;
}

/** -- Remove 'Powered By MediaWiki' Icon -- **/
div#footer #footer-icons {
    display:none;
}
/** -- Remove 'Copyright' -- **/
body.ltr div#footer #footer-places {
    display:none;
}

div#footer {
    padding:0;
}

/** -- TOC 를 오른쪽에 붙임 -- **/
#toc {
    float:right;
}


/** -- 소스 수정을 없앰 -- **/

#ca-edit {
    display:none;
}


.mw-editsection .mw-editsection-divider {
    display: none;
}

.mw-editsection a {
    display:none;
}
.mw-editsection .mw-editsection-visualeditor {
    display:inline;
}


/** -- 중요: iframe 에서 글 수정을 하면, 저장 할 때, 저장 확인 팝업 창이 프레임 중간에 떠서 찾기가 어려운에 맨 위로 올린다. -- **/
.oo-ui-windowManager-modal > .oo-ui-dialog.oo-ui-window-setup > .oo-ui-window-frame {
	position:relative!important;
}


/** -------------------------- 본문 -------------------------------- **/
#content.mw-body #bodyContent a {
    color:#0033f0;
}
#content.mw-body #bodyContent a:hover {
    color:#DF0022;
}